/* styles.css */

/* Estilo para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Estilo para los encabezados */
h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

/* Estilo para el hover de las filas de la tabla */
.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para el pie de página */
.footer {
    margin-top: auto;
}

/* Espaciado para los campos de entrada del formulario */
.form-control {
    margin-bottom: 1rem;
}

/* Espaciado para los botones */
.btn {
    margin-right: 0.5rem;
}

/* Ajustes adicionales para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .table-responsive {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }
    footer {
        height: 50px;
        line-height: 50px;
    }
}

