<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Buscar Libros</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container mt-5">
            <h2>Buscar Libros</h2>
            <form th:action="@{/web/books/search}" method="get">
                <div class="form-group">
                    <label for="keyword">Palabra clave:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="keyword"
                        name="keyword"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="field">Buscar en:</label>
                    <select class="form-control" id="field" name="field">
                        <option value="title">Título</option>
                        <option value="author">Autor</option>
                        <option value="isbn">ISBN</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <!-- Mostrar los resultados de la búsqueda si existen -->
            <div th:if="${not #lists.isEmpty(books)}">
                <h3>Resultados de la búsqueda:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>ISBN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.title}"></td>
                            <td th:text="${book.author}"></td>
                            <td th:text="${book.isbn}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Mostrar un mensaje si no hay resultados de la búsqueda -->
            <div th:if="${#lists.isEmpty(books)}">
                <p>No se encontraron libros que coincidan con la búsqueda.</p>
            </div>
        </div>
    </body>
</html>
